logs/
runs/
outputs/
results/
*.egg-info
__pycache__/
.pytest_cache/
.vscode/
.cursor/
.venv/
*.pyc
.DS_Store
dev/
references/
dev_*/
wandb/
slurm/
uv.lock
tests/test_config.json
unitree_sdk2_python/
*.hdf5
build/
site/
gello_software/
.cache/
eden/tasks/manipulation/README.md
