__pycache__/
*.egg-info/

uv.lock
.vscode/
.DS_Store
.env
.venv/

Eden/
Genesis/

*.mp4
!docs/static/videos/*.mp4
*.out

logs/
runs/
data/tactile_benchmark
outputs/
wandb/
*wandb-*/
torchinductor*/

reference/
submit.sh
src/assets/factory_assets*